<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-material-design.css" rel="stylesheet" />
    <link href="~/Content/ripples.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title - PikYak Application</title>
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" type="image/png" href="~/Content/Images/favicon.jpg" />

    <!--<link rel="icon" type="image/png" href="~/Content/pik yak2.png" />-->

    <meta name="LayoutPage" content="Layout Page" />

</head>
<body>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                Html.ActionLink("PIK YAK", "Index" , "Yak" , new { area="" }, new {class="navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>Html.ActionLink("FAQ", "FAQ", "Yak")</li>
                </ul>

                <button type="button" class="btn btn-default rightTab yak" data-toggle="modal" data-target="#PostModal">Post<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>     

                <button type="button" class="btn btn-default rightTab yak" data-toggle="modal" data-target="#PostModal">PikYak<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>     
                <div class="navbar-right">                            
                    <button type="submit" class="btn btn-default rightTab searchButt">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>                
                    <div class="form-group rightTab">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>-->
    <div class="navbar navbar-default">
        <div class="container-fluid colorTheme">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="javascript:void(0)">PikYak</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                   <!--- <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <b class="caret"></b>
                        </a>
                       -- <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">Action</a></li>
                            <li><a href="javascript:void(0)">Another action</a></li>
                            <li><a href="javascript:void(0)">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="javascript:void(0)">Separated link</a></li>
                            <li><a href="javascript:void(0)">One more separated link</a></li>
                        </ul>
                    </li>-->

                <a class="navbar-brand" href="javascript:void(0)">Pik Yak</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="#"><a href="~/Views/Yak/Faq.cshtml">FAQ</a></li> 
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group is-empty">
                        <input type="text" class="form-control col-md-6" placeholder="Search">
                        <span class="material-input"></span>
                    </div>                              
                </form>                

            </div>
        </div>
    </div>    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Modal -->
    <div id="PostModal" class="modal fade modalSize" role="dialog">
        <div class="modal-dialog">

            
            <div class="modal-content modalSize">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title postTitle">PikYak Post</h4>
                </div>
                @using (Html.BeginForm("get", "Post",
                FormMethod.Get, new { @class = "", role = "Post" }))
                {
                <form>
                    <div class="modal-body">
                        <div class="input-group textBox">
                            <textarea type="text" name="yakMessage" class="form-control textBox" placeholder="Your Message" aria-describedby="basic-addon1" value="yakMessage" id="yakMessage" method="get"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h3>Kindness: </h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">45% Complete</span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default postCancel close" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-default postCancel close" data-dismiss="modal" value="submit" name="submit" id="submit">Submit</button>
                    </div>
                </form>
                }
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <a href="#" id="postYakButton" class="btn btn-default btn-fab" data-toggle="modal" data-target="#PostModal"><i class="material-icons">create</i></a>          
        <hr />
        <footer>
            <p class="footer">&copy; @DateTime.Now.Year - PikYak.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/ripples.min.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>
