@model PikYak.Models.YakViewModel
    <div class="row flex">
        <div class="col-md-8 col-sm-offset-2">
            <div class="panel panel-primary yak">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-4 text-left">
                            {@Model.Yak.Latitude, @Model.Yak.Longitude}
                        </div>
                        <div class="col-xs-4 text-center">

                            @Model.Yak.Sentiment (@Model.Yak.Confidence%)

                           

                        </div>
                        <div class="col-xs-4 text-right">
                            @Model.Yak.Timestamp
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-xs-3 text-left">
                        <img src="~/Content/Images/TestGlyphIcon.png"/>
                    </div>
                    <div class="col-xs-9 text-center">
                        <p>
                            @Model.Yak.Text
                        </p>
                        <p>
                            @ViewBag.ErrorMessage
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="panel-container">
                        <div class="row">
                            <div class="col-xs-9 col-xs-offset-2">
                                <div class="col-xs-4 text-left">
                                    <a href="#" class="yakbutton">
                                        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <!--Like button-->
                                    <a href="/Yak/Like?yakId=@Model.Yak.Id" class="yakbutton like-button">
                                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">(@Model.LikeCount)</span>
                                    </a>
                                </div>
                                <!--Reply Button-->
                                <div class="col-xs-4 text-right">
                                    <a href="~/Yak/Create?replyId=@Model.Yak.Id" class="yakbutton reply-button">
                                        <span class="glyphicon glyphicon-share" aria-hidden="true"> </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

